{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block passenger_driver_home %}
<a class="navbar-brand" href="/accounts/">
  <img src="https://sharetraveler.com/wp-content/uploads/2014/08/rideshare.gif" width="50" height="50" class="d-inline-block align-center" alt="">
  Ride Sharing
</a>
  {% endblock %}
{% block body %}
<div class="bg" style="width:100%;border:1px solid gray;padding:8px;background:#e1efbb url('mountain.jpg')">
<div class="container">
  <h5 class="font-weight-bolder">
    {% if message %}
    {{ message }}
    {% endif %}
    Please login here to pick up riders!
  </h5>
  <form method="post" action="" enctype="multipart/form-data">
   {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-success">Log in</button>
  </form>
</div>
</div>
{% endblock %}
