{%extends 'driver_home.html'%}
{%block specific_style%}
{%endblock%}
{% block head %}
{% endblock %}
<!-- {% block passenger_driver_home %}
<a class="navbar-brand" href="/accounts/driver/home/">
  <img src="https://sharetraveler.com/wp-content/uploads/2014/08/rideshare.gif" width="50" height="50" class="d-inline-block align-center" alt="">
  Ride Sharing
</a>
{% endblock %} -->
    <!-- {% block passeanger_driver %}
    <li><a href="/accounts/driver/search/">Pickup</a></li>
    <li><a href="/accounts/driver/">View My Rides</a></li>
    {% endblock %} -->
{% block body %}
      {% if message %}
      {{ message }}
      {% endif %}
      {% csrf_token %}
      <div class="panel panel-success" style = "margin:20px">
              {% if current_pickup %}
               <a href="#" class="list-group-item list-group-item-action list-group-item-success" style="width: 50%">Current Ride</a>
                  <ul class="list-group" style="width: 50%">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Destination
                      <span class="badge badge-primary badge-pill">{{ current_pickup.destination }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Arrival Time
                      <span class="badge badge-primary badge-pill">{{ current_pickup.arrival_hour }} : {{ current_pickup.arrival_minute }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Current Number Of Passenger
                      <span class="badge badge-primary badge-pill">{{ current_pickup.number_passenger }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Vehicle
                      <span class="badge badge-primary badge-pill">{{ current_pickup.vehicle_type }}</span>
                    </li>
                  </ul>
                  <a href="/accounts/driver/finish/{{ current_pickup.id }}/"><button type="submit" class="btn btn-warning" >Finish</button></a>
              {% endif %}
      </div>
      <div class="panel panel-success">
              {% for ride in history_pickup_list %}
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Ride to {{ ride.destination }}
              </button>
              <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Arrival Time
        <span class="badge badge-primary badge-pill">{{ ride.arrival_hour }} : {{ ride.arrival_minute }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Number Passengers
        <span class="badge badge-primary badge-pill">{{ ride.number_passenger }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Vehicle Type
        <span class="badge badge-primary badge-pill">{{ ride.vehicle_type}}</span>
      </li>
    </div>
  </div>
                  <!-- <tr id="ride_{{ ride.id }}">
                      <td>{{ ride.destination }}</td>
                      <td>{{ ride.arrival_time }}</td>
                      <td><a href="../passenger/request/{{ ride.id }}/">View</a></td>
                  </tr> -->
              {% endfor %}
      </div>
    {% endblock %}
