{% extends 'driver_home.html' %}
{%block specific_style%}
{%endblock%}
  {%block body%}
  {% load crispy_forms_tags %}
  <div class="bg" style="width:100%;border:1px solid gray;padding:8px;background:#e1efbb url('mountain.jpg')">
  <div class="container">
    <h5>
      {% if message %}
      {{ message }}
      {% endif %}
    </h5>
    <form method="post" action="" enctype="multipart/form-data">
     {% csrf_token %}
     {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
{% endif %}
    {{ form | crispy }}
      <button type="submit" class="btn btn-success">Search</button>
    </form>
  </div>
  </div>
  {%endblock%}
