{% extends 'driver_home.html' %}
{% block head %}
<title>Profile</title>
{% endblock%}

{% block body %}
<!--This is where we refer to all those data in user model-->
<div class="container" style="width:50%;margin: 10px 10px;padding: 10px " >
<div>
<h1>Profile</h1>
  <ul class="list-group" id="profile_list">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      User
      <span class="badge badge-primary badge-pill">{{ user }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      First Name
      <span class="badge badge-primary badge-pill">{{ user.first_name }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Last Name
      <span class="badge badge-primary badge-pill">{{ user.last_name }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Email
      <span class="badge badge-primary badge-pill">{{ user.email }}</span>
    </li>
  </ul>
</div>
  <div>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Vehicle Type
        <span class="badge badge-primary badge-pill">{{ user_info.vehicle_type }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Max Passenger
        <span class="badge badge-primary badge-pill">{{ user_info.vehicle_max_passenger}}</span>
      </li>
    </ul>
  <a href="/accounts/driver/profile/edit_basic/"><button type="submit" class="btn btn-warning" >Edit Basic Info</button></a>
  <a href="/accounts/driver/profile/edit_vehicle/"><button type="submit" class="btn btn-warning" >Edit Vehicle Info</button></a>
</div>
</div>
{% endblock %}
