{% extends 'base.html' %}
{% block passenger_driver_home %}
<a class="navbar-brand" href="/accounts/">
  <img src="https://sharetraveler.com/wp-content/uploads/2014/08/rideshare.gif" width="50" height="50" class="d-inline-block align-center" alt="">
  Ride Sharing
</a>
{% endblock %}

{% block body %}
<head>
        <meta http-equiv="refresh" content="4;url=/accounts/" />
        <style>
.center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
}
</style>
</head>
    <body>
<div class="container">
  <h1>See you next time!</h1>
  <p>
    You have logged out ... Redirecting to home page in 4 seconds.....
  </p>
  <img src="https://static.webshopapp.com/shops/066605/files/077822186/see-you-later-letter-stickers.jpg" alt="See you" class="center">
</div>
<div  class="background">
  </div>
</body>

{% endblock %}
