{% extends 'passenger_home.html' %}
{% load crispy_forms_tags %}
{% block head %}
<title>Profile</title>
{% endblock%}

{% block body %}
<!--This is where we refer to all those data in user model-->
<div class="container">
  <form method="post">
    {% csrf_token %}
      {{ form | crispy }}
    <button type="submit" name="button">Update Your Profile</button>
  </form>
</div>

{% endblock %}
