{% extends 'home.html' %}
{%block specific_style%}
{%endblock%}
{% load crispy_forms_tags %}
{% block body %}
<style>
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  </style>
<div class="container">
  <form method="post">
    {% csrf_token %}
  {{ form | crispy }}
  {% if message %}
  {{ message }}
  {% endif %}

    <button type="submit" class="btn btn-success" name="button" style="display: block;margin: 10px; width: 50%">Register</button>
  </form>
</div>
{% endblock%}
