{% extends 'passenger_search.html' %}
{% block pickup_join %}
<a href="/accounts/passenger/join/{{ ride.id }}/"><button type="button" class="btn  btn-info" style="margin:5px 10px 40px 0px">Join  this Ride!</button></a>
{% endblock %}
