{% extends 'driver_search.html' %}
{% block pickup_join %}
<a href="/accounts/driver/pickup/{{ ride.id }}/"><button type="button" class="btn  btn-info" style="margin:5px 10px 40px 0px">Pickup this Ride!</button></a>
{% endblock %}
