
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <style>
  .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
  </style>
       {% block head %}
        <title>Login</title>
    {% endblock %}
  </head>
  <body>
    <br>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-header">
          {% block passenger_driver_home %}
          {% endblock %}
        </div>
        <div id="navbarSupportedContent" class="navbar-collapse collapse">
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item"><a href="/accounts/logout/">Log out</a></li>
            {% block passenger_driver %}
            {% endblock %}
          </ul>
          {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/accounts/passenger_login/">PassengerLogin</a></li>
            <li><a href="/accounts/driver_login/">DriverLogin</a></li>
          </ul>
          {% endif %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/accounts/register/">Register</a></li>
          </ul>

        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    {% block body %}
    {% endblock %}
  </body>
</html>
