{%extends 'home.html'%}
{%block specific_style%}
{%endblock%}

  {% block passenger_driver_home %}
  <a class="navbar-brand" href="/accounts/driver/home/">
    <img src="https://sharetraveler.com/wp-content/uploads/2014/08/rideshare.gif" width="50" height="50" class="d-inline-block align-center" alt="">
    Ride Sharing
  </a>
      {% endblock %}

  {% block passenger_driver %}
  <li class="nav-item"><a href="/accounts/driver/profile/">Profile</a></li>
  <li><a href="/accounts/driver/search/">Pickup</a></li>
  <li><a href="/accounts/driver/">ViewMyRides</a></li>
  {% endblock %}
