{% extends 'base.html' %}
    {% block head %}
    <title>Home</title>

{%block specific_style%}
<style>
html, body {margin: 0; height: 100%; overflow: hidden}
  </style>
  {%endblock%}
    {% endblock%}
    {% block passenger_driver_home %}
    <script language="JavaScript" type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 4000
    })
  });
</script>
    <a class="navbar-brand" href="/accounts/">
      <img src="https://sharetraveler.com/wp-content/uploads/2014/08/rideshare.gif" width="50" height="50" class="d-inline-block align-center" alt="">
      Ride Sharing
    </a>
    {% endblock %}

    {% block body %}
    <div id="carouselExampleControls" class="carousel slide w-100" data-ride="carousel" style="height:100%">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://icdn2.digitaltrends.com/image/man-driving-in-car-in-the-city-ride-share-uber-lyft-getaround-zipcar-3-720x720.jpg?ver=1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://www.washington.edu/wholeu/wp-content/uploads/2016/01/rideshare.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.amcnetworks.com/ifc.com/wp-content/uploads/2014/12/Port_503C_RideShare-Radio_ORIGINAL-1920x1080.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    {% endblock %}
