{%extends 'home.html'%}


  {% block passenger_driver_home %}
  <a class="navbar-brand" href="/accounts/passenger/home/">
    <img src="https://sharetraveler.com/wp-content/uploads/2014/08/rideshare.gif" width="50" height="50" class="d-inline-block align-center" alt="">
    Ride Sharing
  </a>
  {% endblock %}

  {% block passenger_driver %}
  <li class="nav-item"><a href="/accounts/passenger/profile/">Profile</a></li>
  <li class="nav-item"><a href="/accounts/passenger/">ViewMyRides</a></li>
  <li><a href="/accounts/passenger/request">Request</a></li>
  <li><a href="/accounts/passenger/search/">Join</a></li>
  {% endblock %}
